# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# IDE files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# pytest
.pytest_cache/

# Virtual environment
venv/

# report
report/
pytest_html_report.html
archive/

